
@{
    ViewBag.Title = "Index";
}

<h2>You are about to see Jquery and its Funcationality</h2>
<nav>
    @Html.ActionLink("Register", "Register") |
    @Html.ActionLink("document Ready Event", "Window") |
    @Html.ActionLink("Selectors", "Selectors")|
    @Html.ActionLink("Input and :Input Selectors", "Input")|
    @Html.ActionLink("Selectors Extended", "SelectorExtended")|
    @Html.ActionLink("Animation", "Animation")|
    @Html.ActionLink("JSON", "JsonPage")|
    @Html.ActionLink("JQueryClass", "JqueryClass")|
    @Html.ActionLink("JQueryEvents", "Events")|
    @Html.ActionLink("Image Gallery", "ImageAnimation")


</nav>

<br /><br /><br />
<table>
    <tr>
        <td>
            <ul>
                <li>@Html.ActionLink("JQUERY AJAX Load Function from HTML", "Ajax1")</li>
                <li>@Html.ActionLink("Working", "ASPX")</li>
            </ul>
        </td><td></td>
        <td>
            <br />
            <br />
            <br />
            <br />
            <br />
            <img src="~/Images/web-scraper.png" />
        </td>
    </tr>
</table>
<br /><br />


