<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
   
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                <li style="font-weight:bold">@Html.ActionLink("DVD Rental", "Home", "DVDRental")</li>
            </ul>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Rental","Rental")</li>
                <li>@Html.ActionLink("Customer","Details","Customers") </li>
                <li>@Html.ActionLink("Movies","Movies")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - USA </p>
            <p>
                <address>
                    Name: Karna<br />
                    Address: Euless<br />
                    Email: kisanthapamagar@gmail.com
                </address>
            </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
 
</body>
</html>