
@model IEnumerable<DVD_RENTAL.Models.Customer>
@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
          @ViewBag.Message
            
            @Html.DisplayNameFor(model => model.Name )
        </th>
        <th>
        
            @Html.DisplayNameFor(model => model.MemberShipID)
        </th>
        <th>
                 
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.DateJoined)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberShipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
